**/__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
ENV/
env/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

cache_models/
.env

inputs/*
!inputs/.gitignore

outputs/*
!outputs/.gitignore

logs/*
!logs/.gitignore
*.log

